<!DOCTYPE html>
<html>
    <head>
        <title>Amazon</title>
        <link rel="stylesheet" href="../styles/amazon.css">
    </head>
    <body>
        <div class="top-bar">
            <img class="logo" src="../assets/amazon-logo-white.png">
            <div class="search-container">
                <input class="search-box" placeholder="Search">
                <img class="search-button" src="../assets/search-icon.png">
            </div>
            <button class="returns">
                Returns
                <br>
                <span class="order-text">& Orders</span>
            </button>
            <a href="checkout.html">
                <div>
                    <p class="cart-size js-cart-size">0</p>
                    <img class="cart" src="../assets/cart-icon.png">
                </div>
            </a>
        </div>
        <div class="product-container js-product-container">
            <!-- products -->
        </div>

    <script type="module" src="../scripts/amazon.js"></script>
    </body>
</html>