<!DOCTYPE html>
<html>
    <head>
        <title>Cart</title>
        <link rel="stylesheet" href="../styles/cart.css">
    </head>
    <body>
        <div class="top-bar">
            <img class="logo" src="../assets/amazon-logo.png">
            <p class="heading">
                Checkout (<span class="item-count">6 items</span>)
            </p>
            <img class="lock" src="../assets/checkout-lock-icon.png">
        </div>
        <div class="main-content">
            <p class="review">Review your order</p>
            <div class="outer-box-container">
                <div class="left-box">
                    <div class="left-box-child">
                        <p class="delivery-date">Delivery date: Wednesday, January 14</p>
                        <div class="item-box-container">
                            <div class="item-image-container">
                                <img class="item-image" src="../assets/intermediate-composite-basketball.jpg">
                            </div>
                            <div class="item-info">
                                <p class="bold-sub-heading">Intermediate Size Basketball</p>
                                <p class="price">$20.95</p>
                                <p>Quantity: 1 <span class="modify-order">Update Delete</span></p>
                            </div>
                            <div class="delivery-option">
                                <p class="bold-sub-heading">Choose a delivery option:</p>
                                <label class="delivery-option-container">
                                    <input type="radio" name="delivery-option1" value="standard" checked>
                                    <div class="delivery-option-sub-container">
                                        <span class="delivery-option-green">Tuesday, January 20</span>
                                        <span class="delivery-option-gray">FREE Shipping</span>
                                    </div>
                                </label>
                                <br>
                                <label class="delivery-option-container">
                                    <input type="radio" name="delivery-option1" value="express" checked>
                                    <div class="delivery-option-sub-container">
                                        <span class="delivery-option-green">Wednesday, January 14</span>
                                        <span class="delivery-option-gray">$4.99 - Shipping</span>
                                    </div>
                                </label>
                                <br>
                                <label class="delivery-option-container">
                                    <input type="radio" name="delivery-option1" value="next-day" checked>
                                    <div class="delivery-option-sub-container">
                                        <span class="delivery-option-green">Monday, January 12</span>
                                        <span class="delivery-option-gray">$9.99 Shipping</span>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="left-box-child">
                        <p class="delivery-date">Delivery date: Wednesday, January 14</p>
                        <div class="item-box-container">
                            <div class="item-image-container">
                                <img class="item-image" src="../assets/black-2-slot-toaster.jpg">
                            </div>
                            <div class="item-info">
                                <p class="bold-sub-heading">2 Slot Toaster - Black</p>
                                <p class="price">$18.99</p>
                                <p>Quantity: 2 <span class="modify-order">Update Delete</span></p>
                            </div>
                            <div class="delivery-option">
                                <p class="bold-sub-heading">Choose a delivery option:</p>
                                <label class="delivery-option-container">
                                    <input type="radio" name="delivery-option2" value="standard" checked>
                                    <div class="delivery-option-sub-container">
                                        <span class="delivery-option-green">Tuesday, January 20</span>
                                        <span class="delivery-option-gray">FREE Shipping</span>
                                    </div>
                                </label>
                                <br>
                                <label class="delivery-option-container">
                                    <input type="radio" name="delivery-option2" value="express" checked>
                                    <div class="delivery-option-sub-container">
                                        <span class="delivery-option-green">Wednesday, January 14</span>
                                        <span class="delivery-option-gray">$4.99 - Shipping</span>
                                    </div>
                                </label>
                                <br>
                                <label class="delivery-option-container">
                                    <input type="radio" name="delivery-option2" value="next-day" checked>
                                    <div class="delivery-option-sub-container">
                                        <span class="delivery-option-green">Monday, January 12</span>
                                        <span class="delivery-option-gray">$9.99 Shipping</span>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="left-box-child">
                        <p class="delivery-date">Delivery date: Monday, January 12</p>
                        <div class="item-box-container">
                            <div class="item-image-container">
                                <img class="item-image" src="../assets/6-piece-white-dinner-plate-set.jpg">
                            </div>
                            <div class="item-info">
                                <p class="bold-sub-heading">6 Piece White Dinner Plate Set</p>
                                <p class="price">$20.67</p>
                                <p>Quantity: 1 <span class="modify-order">Update Delete</span></p>
                            </div>
                            <div class="delivery-option">
                                <p class="bold-sub-heading">Choose a delivery option:</p>
                                <label class="delivery-option-container">
                                    <input type="radio" name="delivery-option3" value="standard" checked>
                                    <div class="delivery-option-sub-container">
                                        <span class="delivery-option-green">Tuesday, January 20</span>
                                        <span class="delivery-option-gray">FREE Shipping</span>
                                    </div>
                                </label>
                                <br>
                                <label class="delivery-option-container">
                                    <input type="radio" name="delivery-option3" value="express" checked>
                                    <div class="delivery-option-sub-container">
                                        <span class="delivery-option-green">Wednesday, January 14</span>
                                        <span class="delivery-option-gray">$4.99 - Shipping</span>
                                    </div>
                                </label>
                                <br>
                                <label class="delivery-option-container">
                                    <input type="radio" name="delivery-option3" value="next-day" checked>
                                    <div class="delivery-option-sub-container">
                                        <span class="delivery-option-green">Monday, January 12</span>
                                        <span class="delivery-option-gray">$9.99 Shipping</span>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right-box">
                    <p class="order-summary">Order Summary</p>
                    <div class="summary-detail">
                        <div class="summary-top">
                            <div class="summary-top-left">
                                <p>Items (6):</p>
                                <p>Shipping & handling:</p>
                                <hr class="invisible-divider">
                                <p>Total before tax:</p>
                                <p>Estimated tax (10%):</p>
                            </div>
                            <div class="summary-top-right">
                                <p>$120.94</p>
                                <p>$14.98</p>
                                <hr class="visible-divider">
                                <p>$135.92</p>
                                <p>$13.59</p>
                            </div>
                        </div>
                        <hr class="visible-divider">
                        <div class="summary-bottom">
                            <div class="summary-bottom-left">
                                <p>Order Total:</p>
                            </div>
                            <div class="summary-bottom-right">
                                <p>$149.51</p>
                            </div>
                        </div>
                    </div>
                    <button class="order">Place your order</button>
                </div>
            </div>
        </div>
    </body>
</html>