<!DOCTYPE html>
<html>
    <head>
        <title>Your Orders</title>
        <link rel="stylesheet" href="../styles/orders.css">
        <link rel="stylesheet" href="../styles/header.css">
    </head>
    <body>
        <div class="top-bar js-header">
            <!-- header -->
        </div>
        <div class="main-area">
            <p class="heading">Your Orders</p>
            <div class="js-order-container">
                <!-- buy products -->
            </div>
        </div>
        <script src="../scripts/buy.js" type="module"></script>
    </body>
</html>