<!DOCTYPE html>
<html>
    <head>
        <title>Order Summary</title>
        <link rel="stylesheet" href="../styles/tracking.css">
        <link rel="stylesheet" href="../styles/header.css">
    </head>
    <body>
        <div class="top-bar js-header">
            <!-- header -->
        </div>
        <div class="main-body">
            <a href="./orders.html">
                <p class="all-orders" ul>View all orders</p>
            </a>
            <div class="js-track-container">
                <!-- tracking.js -->
            </div>
        </div>
        <script src="../scripts/tracking.js" type="module"></script>
    </body>
</html>