html, body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
p {
    font-family: Arial, Helvetica, sans-serif;
}
.top-bar {

    background-color: #131921;
    margin: 0px;
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}
.logo {
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.search-container {
    display: flex;
    margin-left: 100px;
    margin-right: 40px;
    flex: 1;
}

.search-box {
    box-sizing: border-box;
    height: 42px;
    width: 100%;
    min-width: 100px;
    max-width: 500px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
}
.search-box:focus {
    border-color: #ecb158;
    border-width: 2px;
    border-style: solid;
    outline: none;
}
.search-button {
    background-color: #ecb158;
    height: 22px;
    padding: 10px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.returns {
    background-color: transparent;
    color: white;
    border: none;
    width: 80px;
    font-size :14px;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    font-family: Arial;
    text-decoration: none;
}
.returns:hover {
    cursor: pointer;
}
.order-text {
    font-weight: bold;
    white-space: nowrap;
}
.cart-size {
    color: #ecb158;
    position: fixed;
    margin-left: 41px;
    margin-top: -3px;
    font-weight: bold;
}
.cart {
    height: 30px;
    margin-left: 20px;
    margin-right: 20px;
}