html, body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
.main-body {
    padding-top: 70px;
    margin: auto;
    max-width: 900px;
}
.all-orders {
    margin-top: 30px;
    margin-bottom: 30px;
    color: rgb(41, 135, 202);
    text-decoration: underline;
}
.all-orders:hover {
    color: rgb(209, 136, 0);
    cursor: pointer;
}
.arrival {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.normal-text {
    margin-top: 10px;
    margin-bottom: 10px;
}
.image {
    height: 150px;
    margin: 10px;
}
.state {
    display : flex;
    justify-content: space-between;
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
}
.bar-outline {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(205, 205, 205);
    height: 24px;
    border-radius: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.bar {
    background-color: green;
    height: 24px;
    border-radius: 12px;
}